* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    padding: 20px 35px;
    background-color: #315ae0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #ffffff;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

header nav {

    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
}

header nav ul li a {
    background: #315ae0;
    color: #ffffff;
    border-radius: 15px;
    text-shadow: none;
}

footer {
    background: #315ae0;
    width: 100%;
    padding: 40px 35px;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: #ffffff;
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #284cc2;
}

section {
    padding: 60px;
}

.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

.jobs p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}


.section-title {
    font-size: 48px;
    color: #024e76;
    margin-bottom: 35px;
    padding-bottom: 20px;
    text-align: left;
    margin: 0 auto 35px auto;
    width: 50%;
    border-bottom: 1px solid #39a6b2;
}
